@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Playfair+Display:wght@600&family=Poppins:wght@600&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}


header {
    text-align: center;
    background: linear-gradient(rgb(3, 116, 59), rgb(27, 117, 87));
}

.logo_gigi {
    font-size: 50px;
    color: rgb(255, 255, 255);
    
    font-family: 'Playfair Display', serif;
}

.logo_gigi p {
    font-size: 20px;
}

.navlinks {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;
    
    
}
.navlinks a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 600;
    
}

.navlinks a:hover {
    color: black;
}

.fit {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.wel {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.owner {
    text-align: center;
}

.owner img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.ownerWords {
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 20px;
}

.mh {
    margin-top: 50px;
}

.mhflexbox {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.themap {
    border-radius: 50%;
}

footer {
    text-align: center;
    background: linear-gradient(rgb(3, 116, 59), rgb(27, 117, 87));
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.massagepic {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.facials{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.ma {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.what {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 50px;
}

.cardsystem {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.card1 {
    text-align: center;
}

.card1 img {
    width: 400px;
    height: 300px;
    border-radius: 20%;
}

.card2 {
    text-align: center;
}

.card2 img {
    width: 400px;
    height: 300px;
    border-radius: 20%;
}

.card3 {
    text-align: center;
}

.card3 img {
    width: 400px;
    height: 300px;
    border-radius: 20%;
}

.Ct {
    font-size: 20px;
}

.but button{
    font-size: 20px;
    border-radius: 20%;
    color: rgb(108, 235, 129);
    background-color: rgb(27, 117, 87);
    opacity: .5;
}

.but button:hover {
    color: white;
    background-color: rgb(3, 116, 59);
    transition: 1s;
    
}

