.lo {
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
}

.locations{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

hr {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.riverview {
    text-align: center;
    display: flex;
    flex-direction: column;
}


